DATABASE_NAME=your_base_name
DATABASE_USER=your_user_name
DATABASE_PASSWORD=your_password
DATABASE_HOST=your_host
DATABASE_PORT=your_port

HOST_USER=yourhostmail
HOST_PASSWORD=yourpassword

SECRET_KEY=your_secret_key
DEBUG=your_debug_key

ADMIN_MAIL=your_admin_mail
ADMIN_PASS=your_admin_pass

LOCATION=your_redis_location

MOD_GROUP=your_moderators_group

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SUCCESS_URL=your_pyment_success_url
STRIPE_CANCEL_URL=your_pyment_cancel_url
STRIPE_CURRENCY=your_currency